.idea/
.repository/
*.iml
*.iws
*.jrtc
/1.JavaSyntax/**
/2.JavaCore/**
/3.JavaMultithreading/**
/4.JavaCollections/**
/5.OnlineInternship/**
/out/**
!/out/artifacts/8_Games/
/Instruction.png
/out.log
JavaRushPlugin.properties
/out.log.*
/8.Games/src/com/javarush/games/minigames/**